body {
    background-color: beige;

}

#header {
    font-family: 'Passions Conflict';
    text-align: center;
}

img {
    height: auto;
    width: 400px;
    margin-left: 35%
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}